/* Basic site styling */
body {
  line-height: 1.5;
}

/* Helps skip-link appear when tabbing */
.visually-hidden-focusable:active,
.visually-hidden-focusable:focus {
  position: static !important;
  width: auto !important;
  height: auto !important;
  margin: 1rem;
}
